<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<!-- Class 지정 -->
	<typeAlias type="mohang.mapper.Organization" alias="Organization"/>
	<typeAlias type="mohang.domain.Chat" alias="Chat"/>
	<!-- <typeAlias type="kosta.model.Board" alias="Board"/> -->
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/oracle"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
	<!-- sql 쿼리문 xml 저장 -->
		<mapper resource="mohang/mapper/Organization.xml"/>
		<mapper resource="mohang/mapper/Chat.xml"/>
		<mapper resource="mohang/mapper/Search.xml"/>
	</mappers>

</configuration>
