<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="${pageContext.request.contextPath}/resources/css/general-style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="${pageContext.request.contextPath}/resources/js/general-script.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div id="pw_update_modal">
		
		<div class='pw_update_head'>
		<b>비밀번호 변경</b>
		</div>
		<form id="pw_update_form">
			<input type='text' value='현재 비밀번호'>
			
			<div id="small_title">
			새 비밀번호 설정
			</div>
			<input type='text' value='6자리 이상 문자,숫자,특수문자'><br>
			<input type='text' value='새 비밀번호 확인'>
		</form>
	
	
	</div>
</body>
</html>